<section class="about-us">
  <h2 class="visually-hidden">About us</h2>
  <div class="container">
    <p class="about-us-text">
      Миколаївський заклад загальної середньої освіти № 34 це - дім, в якому
      добре всім. Уже з порогу відчувається особлива атмосфера домашнього
      затишку та тепла: охайні класи, нові меблі, іграшки, багато квітів у
      кабінетах, на подвір’ї. Тому школу називають «сімейною»: учителі, батьки
      (переважна частина яких також навчалася в даному закладі) і учні - одна
      велика родина. <br />
      Головна мета освітньої діяльності ЗЗСО № 34 – створити оптимальні умови
      для розвитку духовно багатої, фізично здорової, вільної, творчо мислячої
      особистості, шляхом створення освітнього середовища, в якому учасники
      навчально-виховного процесу мали б змогу реалізувати себе як суб’єкти
      свого життя, діяльності і спілкування. <br />
      В навчальному закладі створено умови для розвитку та підтримки творчих
      здібностей учнів, адже педагоги переконані, що кожна дитина - талановита.
    </p>
  </div>
</section>
