<header class="header">
    <div class="menu-wrapper">
      <button class="menu-btn">
        <svg class="menu-svg">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  <div>
    <svg class="logo">
      <use href="./img/icons.svg#icon-school"></use>
    </svg>
  </div>
  <ul  class="navigation">
    <li class="tablet-li">Головна</li>
    <li class="tablet-li">Учням</li>
    <li class="tablet-li">Батькам</li>
    <li class="tablet-li">Вчителям</li>
    <li class="desktop-li">Дистанційне навчання</li>
    <li class="desktop-li">Нормативні документи</li>
    <li class="desktop-li">Поради психолога</li>
    <li class="desktop-li">Бібліотека</li>
    <li class="tablet-li">Більше</li>
  </ul>
</header>
