<section class="info">
    <h2 class="visually-hidden">Info</h2>
    <div class="container">
        <div class="swiper mySwiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <div class="info-wrapper">
                    <p class="info-text">
                    <a href="" class="info-link">Інформація для учнів.</a> <br /> Конкурси, освітні матеріали й розклад уроків.
                    </p>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="info-wrapper">
                    <p>

                    </p>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="info-wrapper">
                    <p>

                    </p>
                </div>
              </li>
            </ul>
            <div class="navigation">
                <button class="button-prev">
                    <svg>
                        <use href="./img/icons.svg#icon-arrow-narrow-left" width="24" height="24"></use>
                    </svg>
                </button>
                <button class="button-next">
                    <svg>
                        <use href="./img/icons.svg#icon-arrow-narrow-right" width="24" height="24"></use>
                    </svg>
                </button>
            </div>
          </div>
    </div>
</section>