<section class="info">
    <div class="container">
        <div class="swiper mySwiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">Slide 1</li>
              <li class="swiper-slide">Slide 2</li>
              <li class="swiper-slide">Slide 3</li>
            </ul>
            <div>
                <button>
                    <svg>
                        <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
                    </svg>
                </button><button>
                    <svg>
                        <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
            </div>
          </div>
    </div>
</section>