.hero {
    background-image: url(../img/hero/hero-background-img-1x.jpg), linear-gradient(rgba(12, 12, 12, 1), rgba(12, 12, 12, 1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.hero-h1 {
    font-size: 44px;
    text-align: center;
    font-weight: 900;
    margin-top: 160px;
    margin-bottom: 180px;
}