.hero {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/hero/hero-background-img-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.hero-h1 {
    font-size: 44px;
    text-align: center;
    font-weight: 900;
    margin-top: 160px;
    margin-bottom: 180px;
    color: #fafafa;
}